html
  head
    != rs_website_app.css('style')
  body
    center
      .big ReclaimSoftware
      .footer
        a(href='https://github.com/ReclaimSoftware') GitHub
        span.dash!= " &mdash; "
        a(href='https://twitter.com/ReclaimSoftware') Twitter
