body
  margin 0
  padding 0

a
  text-decoration none

a:hover
  text-decoration underline

.big
  margin-top 60px
  -webkit-user-select none
  cursor default
  font-size 48px
  font-family Georgia, sans-serif

.footer
  margin-top 60px
  font-family sans-serif

.dash
  color #BBB
